/* General */

.preload * {
    transition: none !important;
}

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-family);
    scroll-behavior: smooth;

    --font-family: "Karla", sans-serif;
    --font-family-display: "Modak", "Karla", sans-serif;

    --font-size-0: 0.875rem;
    --font-size-1: 1.125rem;
    --font-size-2: 1.25rem;
    --font-size-3: 1.875rem;
    --font-size-4: 3rem;

    --size-1: 0.25rem;
    --size-2: 0.5rem;
    --size-3: 0.75rem;
    --size-4: 1rem;
    --size-5: 1.5rem;
    --size-6: 2rem;
    --size-7: 3rem;
    --size-8: 4rem;
    --size-9: 8rem;
    --size-10: 16rem;
    --size-11: 48rem;

    --background: rgb(22, 26, 29);
    --foreground: rgb(240, 244, 248);
    --foreground-faded: rgba(240, 244, 248, 0.7);

    --primary: rgb(227, 163, 255);
    --secondary: rgb(146, 253, 242);

    --page-gutter: var(--size-7);
}

@media (max-width: 480px) {
    body {
        --page-gutter: var(--size-5);
    }
}


/* Utilities */

.remove-letter-spacing {
    letter-spacing: 0 !important;
}

/* Header / Navigation */

.site-header {
    align-items: center;
    animation: fadeIn 1s 0.5s ease-in-out forwards;
    display: flex;
    justify-content: space-between;
    line-height: 1;
    opacity: 0;
    padding: var(--page-gutter);
    padding-bottom: 0;
}

.site-header:target {
    animation: none;
    opacity: 1;
}

.logo {
    font-family: var(--font-family-display);
    font-size: var(--font-size-1);
    font-weight: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.logo > a {
    background-image: linear-gradient(to right, var(--primary), var(--primary));
    background-position: left 0 bottom -1px;
    background-repeat: repeat-x;
    background-size: 1px 1px;
    border-radius: 2px;
    color: inherit;
    display: block;
    padding: 3px 2px 0px 2px;
    text-decoration: none;
    transition:
        background-size 0.2s ease-in-out,
        color 0.2s ease-in-out;
}

.logo > a:focus,
.logo > a:hover {
    background-size: 1px calc(100% + 1px); /* Add 1px for the negative background-position */
    color: var(--background);
    outline: none;
}

.site-nav-list {
    list-style: none;
    padding: 0;
    text-align: right;
}

.site-nav-item {
    display: inline-block;
    font-size: var(--font-size-0);
    letter-spacing: 2px;
    margin-left: var(--size-4);
    text-transform: uppercase;
}

.site-nav-link {
    background-image: linear-gradient(to right, var(--primary), var(--primary));
    background-position: left 0 bottom 0;
    background-repeat: repeat-x;
    background-size: 1px 1px;
    border-radius: 2px;
    color: inherit;
    display: block;
    padding: 1px 2px;
    position: relative;
    text-decoration: none;
    transition:
        background-size 0.2s ease-in-out,
        color 0.2s ease-in-out;
}

.site-nav-link.is-active {
    color: var(--primary);
}

.site-nav-link:focus,
.site-nav-link:hover,
.site-nav-link.is-active:focus {
    background-size: 1px 100%;
    color: var(--background);
    outline: none;
}

/* Content */

main {
    margin: 0 auto;
    max-width: calc(var(--size-11) + var(--page-gutter) * 2);
    padding: 0 var(--page-gutter);
}

/* Sections */

.section {
    margin-top: var(--size-8);
}

.section > * {
    animation: fadeInUp 1s 0.5s ease-in-out forwards;
    opacity: 0;
    z-index: 1;
}

.section-heading {
    background-clip: text;
    background-image: linear-gradient(to bottom, var(--primary), var(--secondary));
    font-family: var(--font-family-display);
    font-size: var(--font-size-4);
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-sub-heading {
    background-clip: text;
    background-image: linear-gradient(to bottom, var(--primary), var(--secondary));
    font-family: var(--font-family-display);
    font-size: var(--font-size-3);
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    margin-top: var(--size-8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-content > p {
    font-size: var(--font-size-2);
    line-height: 1.5;
    margin-top: var(--size-6);
}

.section-content > p.lede {
    font-weight: 700;
}

.section-content > p.faded {
    color: var(--foreground-faded);
}

.section-content a {
    background-image: linear-gradient(to top, var(--primary), var(--primary));
    background-position: left 0 bottom 0;
    background-repeat: repeat-x;
    background-size: 1px 1px;
    border-radius: 3px;
    color: inherit;
    padding: 0.1rem;
    text-decoration: none;
    transition:
        background-size 0.2s ease-in-out,
        color 0.2s ease-in-out;
}

.section-content a:focus,
.section-content a:hover {
    background-size: 1px 100%;
    color: var(--background);
    outline: none;
}

.section-content .asterisk {
    color: var(--secondary);
}

.section-content .dangle {
    left: -0.5rem;
    position: absolute;
    top: 0rem;
}

.section-content .footnote {
    color: var(--foreground-faded);
    font-size: var(--font-size-1);
    position: relative;
}

/* Intro */

.two-columns {
    display: grid;
    column-gap: var(--size-4);
    grid-template-columns: 1fr var(--size-10);
}

.lede, .copy {
    grid-column: 1;
}

.photo-container {
    grid-column: 2;
    grid-row: span 3;
}

.photo-container {
    border-radius: 8px;
    height: fit-content;
    margin-top: var(--size-6);
    overflow: hidden;
    width: var(--size-10);
}

.photo-background {
    background-image: linear-gradient(to bottom, var(--primary), var(--secondary));
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: background-size 0.2s ease-in-out;
}

.photo-background:hover {
    background-size: 100% 0%;
}

.photo {
    border-radius: 8px;
    display: block;
    filter: grayscale(100%);
    max-width: 100%;
    mix-blend-mode: luminosity;
    transition: filter 0.2s ease-in-out;
}

.photo:hover {
    filter: grayscale(0%);
}

.florida {
    cursor: url("./images/emoji/florida.png") 5 9, auto;
    white-space: nowrap;
}

.boba {
    cursor: url("./images/emoji/boba.png") 15 15, default;
    white-space: nowrap;
}

@media (max-width: 768px) {
    .two-columns {
        align-items: center;
        column-gap: var(--size-4);
        display: grid;
        grid-template-columns: var(--size-9) 1fr;
    }

    .lede {
        grid-column: 2;
    }

    .copy {
        grid-column: span 2;
    }

    .photo-container {
        grid-column: 1;
        grid-row: 1;
    }

    .photo-container {
        width: var(--size-9);
    }

    .photo-background:hover {
        background-size: inherit;
    }

    .photo:hover {
        filter: grayscale(100%);
    }
}

/* Developer */

.netflix {
    color: #EF4E4E;
}

.developer-list {
    list-style: none;
    padding: 0;
    margin-top: var(--size-6);
}

.developer-list-item {
    margin-top: var(--size-5);
}

.developer-list-item > a {
    display: inline-block;
    font-size: var(--font-size-2);
    padding: var(--size-2) var(--size-1);
}

/* Speaker */

.talks-list {
    list-style: none;
    padding: 0;
    margin-top: var(--size-6);
}

.talk {
    margin-top: var(--size-5);
}

.talk > .talk-link {
    display: inline-block;
    padding: var(--size-2) var(--size-1);
}

.talk-meta {
    color: var(--foreground-faded);
    line-height: 1;
    transition: color 0.2s ease-in-out;
}

.talk-link:focus .talk-meta,
.talk-link:hover .talk-meta {
    color: var(--background);
}

.talk-title {
    font-size: var(--font-size-2);
    margin-top: 0;
}

/* Metalhead */

.album-list {
    list-style: none;
    padding: 0;
}

.album-item {
    margin-top: var(--size-5);
}

.section-content .album-link {
    align-items: center;
    display: inline-flex;
    gap: var(--size-4);
    padding: var(--size-4);
}

.album-cover {
    border: 1px solid var(--primary);
    border-radius: 3px;
}

.album-title {
    font-size: var(--font-size-1);
    font-weight: 700;
}

.artist-name {
    margin-bottom: var(--size-3);
}

/* Footer */

.site-footer {
    align-items: center;
    background-image: linear-gradient(to bottom, var(--background) 5%, 85%, var(--primary));
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: var(--size-8) var(--page-gutter);
    margin-top: var(--size-8);
}

.site-footer > * {
    animation: fadeInUp 1s 1s ease-in-out forwards;
    opacity: 0;
    z-index: 1;
}

.site-footer > .center {
    font-size: var(--font-size-3);
    justify-self: center;
}

.site-footer > .right {
    align-items: flex-end;
    display: flex;
    flex-direction: column
}

.footer-logo {
    letter-spacing: 2px;
    margin-bottom: var(--size-3);
    text-transform: uppercase;
}

.footer-byline {
    line-height: 1.25;
}

.footer-link {
    background-image: linear-gradient(to right, var(--foreground), var(--foreground));
    background-position: left 0 bottom 0;
    background-repeat: repeat-x;
    background-size: 1px 1px;
    border-radius: 2px;
    color: inherit;
    display: block;
    line-height: calc(1rem - 2px); /* 1rem total height minus 1px above and below padding */
    margin-bottom: var(--size-3);
    padding: 1px 2px;
    position: relative;
    text-decoration: none;
    transition:
        background-size 0.2s ease-in-out,
        color 0.2s ease-in-out;
}

.footer-link:last-child {
    margin-bottom: 0;
}

.footer-link:focus,
.footer-link:hover {
    background-size: 1px 1rem;
    color: var(--background);
    outline: none;
}

@media (max-width: 480px) {
    .site-footer {
        grid-template-columns: 1fr;
    }

    .site-footer > .center {
        margin-bottom: var(--size-6);
        margin-top: var(--size-7);
    }
}

/* Animations */

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(var(--size-4));
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
