/* General */

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    background: #000000;
    color: #F0F4F8;
    font-family: "Karla", sans-serif;
    font-size: 16px;
    height: 100%;
    scroll-behavior: smooth;
}

body {
    height: 100%;
}

.remove-letter-spacing {
    letter-spacing: 0 !important;
}

/* Header / Navigation */

.site-header {
    align-items: center;
    animation: fadeIn 1s 0.5s ease-in-out forwards;
    display: flex;
    justify-content: space-between;
    left: 0;
    line-height: 1rem;
    opacity: 0;
    padding: 3rem;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.logo {
    font-size: 1rem;
    font-weight: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.site-nav-list {
    list-style: none;
    padding: 0;
    text-align: right;
}

.site-nav-item {
    display: inline-block;
    font-size: 0.8rem;
    letter-spacing: 2px;
    margin-left: 1rem;
    text-transform: uppercase;
}

.site-nav-link {
    background-image: linear-gradient(to right, #92FDF2, #92FDF2);
    background-position: left -2px bottom 0;
    background-repeat: repeat-x;
    background-size: 1px 1px;
    color: #BCCCDC;
    display: block;
    line-height: 14px;
    padding: 1px 2px;
    position: relative;
    text-decoration: none;
    transition:
        background-size 0.2s ease-in-out,
        color 0.2s ease-in-out;
}

.site-nav-link:focus,
.site-nav-link:hover {
    background-size: 1px 1rem;
    color: #102A43;
    outline: none;
}

@media (max-width: 425px) {
    .site-header {
        padding: 1.5rem;
    }

    .site-nav-item {
        display: flex;
        justify-content: flex-end;
        padding: 0.5rem 1rem;
        text-align: center;
    }
}

/* Content */

main {
    height: 100%;
}

/* Hero */

.hero {
    align-items: center;
    background-image: url("speaker.jpg");
    background-position: right 0;
    background-repeat: no-repeat;
    background-size: auto 100%;
    display: grid;
    grid-template-columns: 3fr 2fr;
    justify-content: center;
    min-height: 100%;
    padding: 7rem 3rem;
    position: relative;
}

.hero::before {
    background: radial-gradient(circle at left, #243B53 0%, #243B53 30%, rgba(0, 0, 0, 0.5) 100%);
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0.5;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}

.hero::after {
    /* Background pattern from Toptal Subtle Patterns */
    background-image: url("texture.png");
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0.25;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}

.hero-bubble {
    animation: fadeInUp 1s 0.5s ease-in-out forwards;
    display: flex;
    justify-content: center;
    opacity: 0;
    position: relative;
    z-index: 1;
}

.headline {
    font-size: 2rem;
    line-height: 3rem;
}

.california {
    background: #62F4EB;
    color: #102A43;
    cursor: url("california.png") 5 9, auto;
    padding: 0 0.3rem;
}

.florida {
    background: #A368FC;
    color: #102A43;
    cursor: url("florida.png") 5 9, auto;
    padding: 0 0.3rem;
}

.web-developer {
    background: linear-gradient(to right, #62F4EB, #A368FC);
    display: inline-block;
    font-size: 4rem;
    line-height: 4rem;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.terms {
    color: #D9E2EC;
    line-height: 1.5rem;
    margin-bottom: 2rem;
    max-width: 22rem;
}

.term-link {
    background-image: linear-gradient(to right, #9446ED, #9446ED);
    background-position: left 0 bottom 0;
    background-repeat: repeat-x;
    background-size: 1px 1px;
    color: inherit;
    display: inline-block;
    font-family: "Spectral", serif;
    font-weight: 600;
    line-height: 1.3rem;
    margin-right: 0.1rem;
    padding: 0 0.1rem;
    text-decoration: none;
    transition:
        background-size 0.2s ease-in-out,
        color 0.2s ease-in-out;
}

.term-link:focus,
.term-link:hover {
    background-size: 1px 1.3rem;
    color: #F0F4F8;
    outline: none;
}

.boba {
    background: linear-gradient(to right, #62F4EB, #A368FC);
    cursor: url("boba.png") 15 15, default;
    font-weight: 600;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.scroll-tip {
    animation: fadeInRotated 1s 1s ease-in-out forwards;
    background-image: linear-gradient(to top, #690CB0, #690CB0);
    background-position: left 0 top 0;
    background-repeat: repeat-x;
    background-size: 0px 0px;
    bottom: 0;
    color: #829AB1;
    left: 3rem;
    opacity: 0;
    padding-bottom: 0.5rem;
    padding-top: 2rem;
    position: absolute;
    text-decoration: none;
    text-transform: uppercase;
    transform: rotate(180deg);
    transition:
        background-size 0.2s ease-in-out,
        color 0.2s ease-in-out;
    writing-mode: vertical-lr;
    z-index: 1;
}

.scroll-tip:focus,
.scroll-tip:hover {
    background-size: 1px 100%;
    color: #F0F4F8;
    outline: none;
}

.scroll-arrow {
    display: inline-block;
}

.scroll-tip:focus > .scroll-arrow,
.scroll-tip:hover > .scroll-arrow {
    animation: bounce 1.5s ease-in-out infinite;
}

@media (max-width: 425px) {
    .hero {
        grid-template-columns: 1fr;
    }

    .headline {
        font-size: 1.5rem;
        line-height: 2.25rem;
    }

    .web-developer {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }

    .terms {
        max-width: 14rem;
    }

    .scroll-tip {
        left: calc(50% - 12px);
    }
}

/* Term Sections */

.term {
    align-content: center;
    background: hsla(211, 39%, 23%, 0.5);
    display: grid;
    grid-template-columns: 3fr 2fr;
    min-height: 100%;
    padding: 6rem 3rem;
    position: relative;
}

.term::before {
    background-image: url("heaxgon-texture.svg"), linear-gradient(to right, #A368FC, #62F4EB);
    background-position: center -4px;
    content: "";
    height: 1rem;
    left: 0;
    position: absolute;
    top: -0.5rem;
    width: 100%;
    z-index: 2;
}

.term:nth-of-type(odd)::before {
    background-image: url("heaxgon-texture.svg"), linear-gradient(to left, #A368FC, #62F4EB);
}

.term::after {
    /* Background pattern from Toptal Subtle Patterns */
    background-image: url("texture.png");
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0.25;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}

.term-header-content {
    position: relative;
}

.term#developer .term-heading::after {
    background-image: url("circuit-texture.svg");
    background-position: center center;
    bottom: -1rem;
    content: "";
    left: -2rem;
    position: absolute;
    right: -2rem;
    top: -1rem;
    z-index: 0;
}

.term#speaker .term-heading::after {
    background-image: url("weave-texture.svg");
    background-position: center center;
    bottom: -1rem;
    content: "";
    left: -2rem;
    position: absolute;
    right: -2rem;
    top: -1rem;
    z-index: 0;
}

.term#metalhead::after {
    background-image: url("data:image/svg+xml,%3Csvg width='180' height='180' viewBox='0 0 180 180' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M82.42 180h-1.415L0 98.995v-2.827L6.167 90 0 83.833V81.004L81.005 0h2.827L90 6.167 96.167 0H98.996L180 81.005v2.827L173.833 90 180 96.167V98.996L98.995 180h-2.827L90 173.833 83.833 180H82.42zm0-1.414L1.413 97.58 8.994 90l-7.58-7.58L82.42 1.413 90 8.994l7.58-7.58 81.006 81.005-7.58 7.58 7.58 7.58-81.005 81.006-7.58-7.58-7.58 7.58zM175.196 0h-25.832c1.033 2.924 2.616 5.59 4.625 7.868C152.145 9.682 151 12.208 151 15c0 5.523 4.477 10 10 10 1.657 0 3 1.343 3 3v4h16V0h-4.803c.51.883.803 1.907.803 3 0 3.314-2.686 6-6 6s-6-2.686-6-6c0-1.093.292-2.117.803-3h10.394-13.685C161.18.938 161 1.948 161 3v4c-4.418 0-8 3.582-8 8s3.582 8 8 8c2.76 0 5 2.24 5 5v2h4v-4h2v4h4v-4h2v4h2V0h-4.803zm-15.783 0c-.27.954-.414 1.96-.414 3v2.2c-1.25.254-2.414.74-3.447 1.412-1.716-1.93-3.098-4.164-4.054-6.612h7.914zM180 17h-3l2.143-10H180v10zm-30.635 163c-.884-2.502-1.365-5.195-1.365-8 0-13.255 10.748-24 23.99-24H180v32h-30.635zm12.147 0c.5-1.416 1.345-2.67 2.434-3.66l-1.345-1.48c-1.498 1.364-2.62 3.136-3.186 5.14H151.5c-.97-2.48-1.5-5.177-1.5-8 0-12.15 9.84-22 22-22h8v30h-18.488zm13.685 0c-1.037-1.793-2.976-3-5.197-3-2.22 0-4.16 1.207-5.197 3h10.394zM0 148h8.01C21.26 148 32 158.742 32 172c0 2.805-.48 5.498-1.366 8H0v-32zm0 2h8c12.15 0 22 9.847 22 22 0 2.822-.53 5.52-1.5 8h-7.914c-.567-2.004-1.688-3.776-3.187-5.14l-1.346 1.48c1.09.99 1.933 2.244 2.434 3.66H0v-30zm15.197 30c-1.037-1.793-2.976-3-5.197-3-2.22 0-4.16 1.207-5.197 3h10.394zM0 32h16v-4c0-1.657 1.343-3 3-3 5.523 0 10-4.477 10-10 0-2.794-1.145-5.32-2.992-7.134C28.018 5.586 29.6 2.924 30.634 0H0v32zm0-2h2v-4h2v4h4v-4h2v4h4v-2c0-2.76 2.24-5 5-5 4.418 0 8-3.582 8-8s-3.582-8-8-8V3c0-1.052-.18-2.062-.512-3H0v30zM28.5 0c-.954 2.448-2.335 4.683-4.05 6.613-1.035-.672-2.2-1.16-3.45-1.413V3c0-1.04-.144-2.046-.414-3H28.5zM0 17h3L.857 7H0v10zM15.197 0c.51.883.803 1.907.803 3 0 3.314-2.686 6-6 6S4 6.314 4 3c0-1.093.292-2.117.803-3h10.394zM109 115c-1.657 0-3 1.343-3 3v4H74v-4c0-1.657-1.343-3-3-3-5.523 0-10-4.477-10-10 0-2.793 1.145-5.318 2.99-7.132C60.262 93.638 58 88.084 58 82c0-13.255 10.748-24 23.99-24h16.02C111.26 58 122 68.742 122 82c0 6.082-2.263 11.636-5.992 15.866C117.855 99.68 119 102.206 119 105c0 5.523-4.477 10-10 10zm0-2c-2.76 0-5 2.24-5 5v2h-4v-4h-2v4h-4v-4h-2v4h-4v-4h-2v4h-4v-4h-2v4h-4v-2c0-2.76-2.24-5-5-5-4.418 0-8-3.582-8-8s3.582-8 8-8v-4c0-2.64 1.136-5.013 2.946-6.66L72.6 84.86C70.39 86.874 69 89.775 69 93v2.2c-1.25.254-2.414.74-3.447 1.412C62.098 92.727 60 87.61 60 82c0-12.15 9.84-22 22-22h16c12.15 0 22 9.847 22 22 0 5.61-2.097 10.728-5.55 14.613-1.035-.672-2.2-1.16-3.45-1.413V93c0-3.226-1.39-6.127-3.6-8.14l-1.346 1.48C107.864 87.987 109 90.36 109 93v4c4.418 0 8 3.582 8 8s-3.582 8-8 8zM90.857 97L93 107h-6l2.143-10h1.714zM80 99c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm20 0c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6z' fill='%23a368fc' fill-opacity='0.15' fill-rule='evenodd'/%3E%3C/svg%3E"), url("texture.png");
}

.term-header {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
    position: relative;
    z-index: 1;
}

.term-header-content {
    max-width: 30rem;
}

.term-heading {
    font-size: 2rem;
    font-weight: 400;
    line-height: 3rem;
    margin-bottom: 2rem;
    position: relative;
}

.term-heading > em {
    background: linear-gradient(to right, #62F4EB, #A368FC);
    display: inline-block;
    font-family: "Spectral", serif;
    font-style: normal;
    font-weight: 600;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.chill {
    background: linear-gradient(to top, #62F4EB, #A368FC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.term-footnote {
    color: #627D98;
    margin-top: 0.5rem;
    position: relative;
}

.dangle {
    left: -0.25rem;
    position: absolute;
    top: 0.15rem;
}

.term-content {
    font-size: 1.2rem;
    z-index: 1;
}

.term-content > p {
    line-height: 1.5;
    margin-bottom: 3rem;
}

.term-content > p + .term-content-list {
    margin-top: -2rem;
}

.term-content a {
    background-image: linear-gradient(to right, #A368FC, #A368FC);
    background-position: left 0 bottom 0;
    background-repeat: repeat-x;
    background-size: 1px 1px;
    color: inherit;
    padding: 0 0.1rem;
    text-decoration: none;
    transition:
        background-size 0.2s ease-in-out,
        color 0.2s ease-in-out;
}

.term-content a:focus,
.term-content a:hover {
    background-size: 1px 2rem;
    color: #F0F4F8;
    outline: none;
}

.term-content-lede {
    font-size: 1.5rem;
}

.netflix {
    color: #EF4E4E;
    font-weight: 600;
}

.term-content-list {
    list-style: none;
    margin: 0;
    margin-top: 1.5rem;
    padding: 0;
}

.term-list-item {
    margin-bottom: 1.5rem;
}

.term-list-item > a {
    background-image: linear-gradient(to top, #62F4EB, #62F4EB);
    background-position: left 0 bottom 0;
    background-repeat: repeat-y;
    background-size: 1px 1px;
    color: #92FDF2;
    display: inline-block;
    padding: 0.15rem 0.5rem;
    text-decoration: none;
    transition:
        background-size 0.3s ease-in-out,
        color 0.3s ease-in-out;
}

.term-list-item > a:focus,
.term-list-item > a:hover {
    background-size: 100% 1px;
    color: #102A43;
    outline: none;
}

.cta {
    background: linear-gradient(to right, #62F4EB, #A368FC);
    border: 1rem solid #243B53;
    color: #102A43;
    font-size: 1.2rem;
    font-weight: bold;
    grid-column: 1/3;
    line-height: 1.5;
    margin: 0 auto;
    margin-top: 3rem;
    max-width: 50rem;
    padding: 3rem;
    position: relative;
    text-align: center;
    z-index: 1;
}

.cta::before {
    background-image: url("heaxgon-texture.svg");
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

.cta-text {
    position: relative;
    z-index: 1;
}

.cta-text > a {
    background-image: linear-gradient(to top, #F2EBFE, #F2EBFE);
    background-position: left 0 bottom 0;
    background-repeat: repeat-x;
    background-size: 1px 1px;
    color: inherit;
    display: inline-block;
    line-height: 1.5rem;
    padding: 0 0.1rem;
    text-decoration: none;
    transition:
        background-size 0.2s ease-in-out,
        color 0.2s ease-in-out;
}

.cta-text > a:focus,
.cta-text > a:hover {
    background-size: 1px 1.5rem;
    outline: none;
}

@media (max-width: 425px) {
    .term {
        grid-template-columns: 1fr;
    }

    .cta {
        grid-column: 1/2;
    }
}

/* Footer */

.site-footer {
    background: url("heaxgon-texture.svg"), linear-gradient(to right, #62F4EB, #A368FC);
    margin-top: -0.4rem;
    padding: 7rem 3rem;
    position: relative;
}

@keyframes bounce {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-6px); }
    100% { transform: translateY(0px); }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeInRotated {
    from {
        opacity: 0;
        transform: translateY(1rem) rotate(180deg);
    }

    to {
        opacity: 1;
        transform: translateY(0) rotate(180deg);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(1rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
